*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90%;
  margin: auto;
}

h1 {
  margin: 1rem 0;

}

.text {
  margin: 1rem;
}

.action {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

#btn,#moo-btn {
  margin-right: 1rem;
  margin-left: 1rem;
  width: 100px;
  height: 20px;
  text-transform: capitalize;
}

#boring-btn, #fancy-btn {
  margin: 0 1rem;
}
